.bg-main{
  background: url('../assets/udacity-theme.jpg');
}
.bg-light {
    background-color: transparent!important;
}
.jumbotron {
    text-align: center;
    background: none;

}

.sectionLight {
    background-color: #eceeef;
    padding: 2em;
}

.body-main{
  background: url('https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
}

img.brand-logo {
    max-height: 30px;
    max-width: 200px;
    width: auto;
}
.nav-item{
  padding: 1rem;
}
a.nav-link {
    font-size: 1.1rem;
}
.carousel {
    max-height: 500px;
}
.d-block {
    height: 100%;
}
